.clients {
  .quotes-wrapper {
    @include tablet { padding: 0 10em; }
    .quotation-block {
      margin-bottom: 4em;
      .quote-text-block {
        background-color: white;
        width: 100%;
        height: 100%;
        border: 1px solid $lightgrey;
        .blockquote {
          border: none;
          font: {
            size: 26px;
            weight: 100;
          }
          line-height: 1.08;
          color: $grey;
        }
        .blockquote-footer {
          color: $accent-color;
          font-size: 20px;
          font-weight: 100;
          line-height: 1.8;
        }
      }
      .quote-image > img {
        @include size(inherit);
      }
      .quote-right {
        &::before {
          content: '';
          position: absolute;
          right: 100%;
          top: 70%;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 20px solid white;
          border-bottom: 10px solid transparent;
          @include phone-only { display: none; }
        }
      }
      .quote-left {
        &::after {
          content: '';
          position: absolute;
          left: 100%;
          top: 70%;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-left: 20px solid white;
          border-bottom: 10px solid transparent;
          @include phone-only { display: none; }
        }
      }
    }
  }
}