header {
  @include phone { height: 500px; }
  @include desktop { height: 700px; }
  color: white;
  background: url('../img/header-bck.png') no-repeat center top;

  background-size: cover;
  .navbar {
    background-color: transparent;
    .navbar-toggler > span {
      background-image: url('../img/paper-plane.png');
    }
    .navbar-brand > a{
      color: white;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 700;
      font-family: Cubano, sans-serif;
    }
    .navbar-collapse { text-align: right; }
    .nav-item {
      margin-left: 1.5em;
      color: white;
      text-transform: capitalize;
    }
  }
  .h-wrapper {
    @include phone { padding: 4em 0; }
    @include tablet { padding: 12em 2em 0; }
    text-align: center;
    h1, h4 {
      margin-bottom: 50px;}

    .learn {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      font-weight: 700;
    }
  }
}