section.clients#clients
  div.container
    div.headings-wrapper
      h2 Awesome
        span  Clients
      h5 See what nice things our clients said about us.

    div.quotes-wrapper
      div.quotation-block.row
        div.quote-image.col-xs-12.col-md-3.mb-5
          img.rounded-circle(src="https://unsplash.it/200/?image=1011")
        div.quote-text-block.quote-right.col-xs-12.col-md-9.p-4
          blockquote.blockquote “ Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
          p.blockquote-footer Jamie Richardson, Founder of Cocoa Media
      div.quotation-block.row
        div.quote-text-block.quote-left.col-xs-12.col-md-9.p-4
          blockquote.blockquote "Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus. ”
          p.blockquote-footer Bart Thompson, Founder of Rainel
        dev.quote-image.col-xs-12.col-md-3
          img.rounded-circle(src="https://unsplash.it/200/?image=1012")