footer.footer.container
  div.footer-wrapper.row
    div.text-block.col-xs-12.col-md-6
      div.headings-wrapper
        h2 Say
          span  Hello
        h5 Don’t be shy, drop us an email and say hello! We are a really nice bunch of people :)
      div.contacts-wrapper.d-flex.flex-wrap
        div.col-xs-12.col-md-6
          i.fa.fa-phone.pull-left
          span (416) 555-0000
        div.col-xs-12.col-md-6
          i.fa.fa-envelope.pull-left
          span hello@escape.com
        div.col-xs-12.col-md-6
          i.fa.fa-twitter.pull-left
          span @escape
        div.col-xs-12.col-md-6
          i.fa.fa-facebook.pull-left
          span facebook.com/escape
        div.col-xs-12.col-md-6
          i.fa.fa-google-plus.pull-left
          span plus.com/escape
        div.col-xs-12.col-md-6
          i.fa.fa-pinterest.pull-left
          span pinterest.com/escape

    div.form-block.col-xs-12.col-md-6
      form
        input.form-control.col-12.mb-2(type="text", placeholder="Your Name *")
        input.form-control.col-12.mb-2(type="email", placeholder="Your E-mail *")
        textarea.form-control.col-12.mb-2(rows="5", placeholder="Your Message *")

  hr

  div.credits-wrapper
    p © 2014 Escape by FreebiesXpress • Made In Toronto