section.identity
  div.container
    div.row
      div.img-block.col-xs-12.col-md-4
        img.img-fluid(src="img/users.png")
      div.text-block.col-xs-12.offset-md-1.col-md-7
        h2 identity
          span  branding
        p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.
        p Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat.