section.logos.container
  div.logos-wrapper.row
    div.logo.col-3
      img.img-fluid(src="img/envato.png")
    div.logo.col-3
      img.img-fluid(src="img/wordpress.png")
    div.logo.col-3
      img.img-fluid(src="img/tuts.png")
    div.logo.col-3
      img.img-fluid(src="img/microlancer.png")