section.logos
  div.container
    div.logos-wrapper.d-flex.flex-wrap.justify-content-center
      div.col-6.col-md-3.logo.envato
      div.col-6.col-md-3.logo.wp
      div.col-6.col-md-3.logo.tuts
      div.col-6.col-md-3.logo.micro