section.services.container
  div.d-flex.flex-wrap
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.person-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 Branding & Identity
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.ipad-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 Web & Graphic Design
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.ipad-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 Web & Graphic Design
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.video-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 Animations
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.star-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 UI/UX
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    div.service-block.col-xs-12.col-md-6
      div.row
        div.service-image.camera-icon.col-xs-12.col-md-3
        div.service-text-block.col-xs-12.col-md-9
          h5 Photography
          p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.