section.team.container
  div.headings-wrapper
    h2 Amazing
      span  Team
    h5 These wonderful people make work enjoyable.

  div.d-flex.flex-wrap.team-wrapper
    div.team-block.col-4
      img.team-image.img-fluid.rounded-circle.img-thumbnail(src="http://lorempixel.com/output/business-q-g-200-200-8.jpg")
      div.team-text-block
        p.name Kimberly Thompson
        p.position Marketer
        div.links
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-twitter
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-facebook
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-pinterest
    div.team-block.col-4
      img.team-image.img-fluid.rounded-circle.img-thumbnail(src="http://lorempixel.com/output/business-q-g-200-200-8.jpg")
      div.team-text-block
        p.name Rico Massimo
        p.position Coder
        div.links
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-twitter
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-facebook
          a.btn.btn-default.link-block.col-4(aria-hidden="true")
            i.fa.fa-google-plus
    div.team-block.col-4
      img.team-image.img-fluid.rounded-circle.img-thumbnail(src="http://lorempixel.com/output/business-q-g-200-200-8.jpg")
      div.team-text-block
        p.name Uku Mason
        p.position Graphic Designer
        div.links
          a.btn.btn-default.link-block.col-6(aria-hidden="true")
            i.fa.fa-twitter
          a.btn.btn-default.link-block.col-6(aria-hidden="true")
            i.fa.fa-pinterest
  p Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.