section.team#team
  div.container
    div.headings-wrapper
      h2 Amazing
        span  Team
      h5 These wonderful people make work enjoyable.

    div.d-flex.flex-wrap.team-wrapper
      div.team-block.col-xs-12.col-md-4
        img.team-image.img-fluid.rounded-circle.img-thumbnail(src="https://unsplash.it/200/?image=64")
        div.team-text-block
          p.name Kimberly Thompson
          p.position Marketer
          div.links.d-flex.justify-content-center
            a.btn.btn-default.link-block.twit(aria-hidden="true")
              i.fa.fa-twitter
            a.btn.btn-default.link-block.fb(aria-hidden="true")
              i.fa.fa-facebook
            a.btn.btn-default.link-block.pin(aria-hidden="true")
              i.fa.fa-pinterest-p
      div.team-block.col-xs-12.col-md-4
        img.team-image.img-fluid.rounded-circle.img-thumbnail(src="https://unsplash.it/200/?image=1005")
        div.team-text-block
          p.name Rico Massimo
          p.position Coder
          div.links.d-flex.justify-content-center
            a.btn.btn-default.link-block.twit(aria-hidden="true")
              i.fa.fa-twitter
            a.btn.btn-default.link-block.fb(aria-hidden="true")
              i.fa.fa-facebook
            a.btn.btn-default.link-block.goog(aria-hidden="true")
              i.fa.fa-google
      div.team-block.col-xs-12.col-md-4
        img.team-image.img-fluid.rounded-circle.img-thumbnail(src="https://unsplash.it/200/?image=91")
        div.team-text-block
          p.name Uku Mason
          p.position Graphic Designer
          div.links.d-flex.justify-content-center
            a.btn.btn-default.link-block.twit(aria-hidden="true")
              i.fa.fa-twitter
            a.btn.btn-default.link-block.pin(aria-hidden="true")
              i.fa.fa-pinterest-p
    p.offset-3.col-6 Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.